* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

body > header {
    background-color: rgb(27, 26, 27);
    padding: 16px 0;
    color: rgb(241, 247, 250);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}